{% load static %}
{% if user.is_authenticated %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Bootstrap Tutorial Sample Page</title>
        {#                <meta http-equiv="refresh" content="5" >#}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static "css/mystyle.css" %}">
        <script type="text/javascript">
            window.addEventListener('keydown', function (e) {
                if (e.keyIdentifier == 'U+000A' || e.keyIdentifier == 'Enter' || e.keyCode == 13) {
                    if (e.target.nodeName == 'INPUT' && e.target.type == 'text') {
                        e.preventDefault();
                        return false;
                    }
                }
            }, true);
        </script>
 
    </head>
    <body background="{% static "images/Black_white_background.jpg" %}" style="background-size: cover">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>


    <nav class="bg-dark navbar-dark" style="position: fixed;width: 100%;">
           <a href="taskView"> <img src="{% static "images/back.png" %}" alt="IMG" style="width:50px;height:50px;"
                                 id="refreshBtn"></a>
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse"
                data-target="#main-navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="search"> <img src="{% static "images/refresh.png" %}" alt="IMG" style="width:50px;height:50px;"
                               id="refreshBtn"></a>


        <div class="collapse navbar-collapse" id="main-navigation">
            <ul class="navbar-nav">
                {% if request.user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="moveToRegister">Create User</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="moveToUpdateUser">Edit User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="search">Search</a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="logout">Log Out</a>
                </li>

            </ul>
        </div>
    </nav>
    </br></br>
    <h2>search history</h2>

    {% block content %}
        <ul>
            <form method="post">
                {% csrf_token %}
                <lb style="display: inline-block; width: 100px;">user :</lb>
                <select name="edit_username">
                    <option value="">all</option>
                    {% for task_item in user_list %}
                        <option>{{ task_item }}</option>
                    {% endfor %}
                </select>
                <br><br>

                <lb style="display: inline-block; width: 100px;">Category :</lb>
                <select name="taskProject">
                    <option value="">all</option>
                    {% for task_item in category_list %}
                        <option>{{ task_item }}</option>
                    {% endfor %}
                </select>


                <br><br>

                <lb style="display: inline-block; width: 100px;">Period :</lb>
                <input type="date" name="date">

                <br><br>
                <button type="submit">Search</button>
                <br><br>
                <select name="tasktype" style=" visibility: hidden;">
                    <option value="2今日やること">2今日やること</option>
                </select>

            </form>
        </ul>
        <ul>
            <ul>
                <table style="width:80%">
                    <thead>
                    <tr style="text-align: center; color:blue;">
                        <th>username</th>
                        <th>category</th>
                        <th>task</th>
                        <th>date</th>
                        <th>time</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for task_item in filter.qs.all|dictsort:"edit_username" %}
                        <tr>
                            <td>{{ task_item.edit_username }}</td>
                            <td>{{ task_item.taskProject }}</td>
                            <td>{{ task_item.task }}</td>
                            <td>{{ task_item.date }}: {{ task_item.date|date:"l" }}</td>
                            <td>{{ task_item.time }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </ul>
        </ul>
    {% endblock %}
    </body>
    </html>
{% else %}
    <a class="nav-link" href="moveToLogin">
        <h1>please login!!!!</h1>
    </a>
{% endif %}