<html>
   <head>
   </head>
   <body>
      <h1>HELLO</h1>
	  <input type="button" onclick="notifyMe()" value="Send Notification"></input>
      <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	               <script>var app = require('express')();
                        var server = require('http').Server(app);
                        var io = require('socket.io')(server);

                        server.listen(8080);

                        app.get('/', function (req, res) {
                          res.sendfile('base.html');
                        });

                        io.on('connection', function (socket) {

                          io.sockets.emit('notification', { message: 'Hello the world' });
                          socket.on('my other event', function (data) {
                            console.log(data);
                          });
                        });
                </script>
      <script>
         function notifyMe(message) {
           // Let's check if the browser supports notifications
           if (!("Notification" in window)) {
             alert("This browser does not support notifications");
           }

           // Let's check whether notification permissions have already been granted
           else if (Notification.permission === "granted") {
             // If it's okay let's create a notification
             var notification = new Notification(message);
           }

           // Otherwise, we need to ask the user for permission
           else if (Notification.permission !== 'denied') {
             Notification.requestPermission(function (permission) {

               // We store the authorization information
               if(!('permission' in Notification)) {
                 Notification.permission = permission;
               }

               // If the user accepts, let's create a notification
               if (permission === "granted") {
                 var notification = new Notification(message);
               }
             });
           }


         }


          // Connect to the server
           var socket = io.connect('https://socket-io-notif-maximilienandile.c9users.io:8080');
           // WHEN we receive the notification event execute the notifyMe function
           socket.on('notification', function (data) {
             notifyMe(data.message);
           });
      </script>
   </body>
</html>