{% load static %}
{% if user.is_authenticated %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Bootstrap Tutorial Sample Page</title>
        {#                <meta http-equiv="refresh" content="5" >#}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <script src="{% static "myscripts.js" %}"></script>
        {% if first_login == True %}
            <script>
                location.href = "/taskView";
                window.open("/moveToUpdatePassword", 'popUpWindow', 'height=780,width=328,left=500,top=100,resizable=no,scrollbars=no,toolbar=no,menubar=no,location=no,directories=no, status=no');
            </script>
        {% endif %}
    <script type="text/javascript">
    window.addEventListener('keydown',function(e){if(e.keyIdentifier=='U+000A'||e.keyIdentifier=='Enter'||e.keyCode==13){if(e.target.nodeName=='INPUT'&&e.target.type=='text'){e.preventDefault();return false;}}},true);
    </script>
    </head>
    <body background="{% static "images/Black_white_background.jpg" %}" style="background-size: cover">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>


    <nav class="bg-dark navbar-dark" style="position: fixed;width: 100%;">
        <a class="navbar-brand" href="#">Menu</a>
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse"
                data-target="#main-navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="taskView"> <img src="{% static "images/refresh.png" %}" alt="IMG" style="width:50px;height:50px;"
                                 id="refreshBtn"></a>
        <script>document.getElementById("refreshBtn").onclick = function () {
            var icon = document.getElementById("refreshBtn");
            var rotate = icon.style.transform = "rotate(130deg)";
        };</script>

        <div class="collapse navbar-collapse" id="main-navigation">
            <ul class="navbar-nav">
                {% if request.user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="moveToRegister">Create User</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="moveToUpdateUser">Edit User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="search">Search</a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="logout">Log Out</a>
                </li>

            </ul>
        </div>
    </nav>
    </br></br></br>

    {% for user in all_user_items %}

        <form style="display: inline;"
              method="post">
            {% csrf_token %}
    
            <h5>User: {{ user }}
                                     {% if request.user.username == user %}  
                <button formaction="deleteTask/{{ user }}" style="border-radius: 50%;  color: white; background-color: #Ac3B61;
                                  padding: 10px;
                                  text-align: center;
                                  display: inline-block;
                                  font-size: 16px;
                                  margin: 2px;" id="delete_task_Btn{{ user }}">delete
                </button>
           
                <script>
                    document.getElementById("delete_task_Btn{{ user}}").onclick = function () {
                        var r = confirm("ARE YOU SURE!");
                        if (r == true) {
                            location.href = "/deleteTask/{{user}}";
                        } else {
                            return false;
                        };
                    };
                </script>
                        {%endif%}
            </h5>
            {% for task_item in all_items %}
                {% if task_item.edit_username == user %}
                      {%if task_item.date == dateToday%}                     
                    <ul>
                    <lb style="color: blue; display: inline-block; width: 150px; padding:-50px;" >
 
                    {{ task_item.tasktype|slice:"1:" }}</lb>
                    <input type="text" name="category{{ task_item.id }}" id="category_yesterday{{ task_item.id }}" placeholder="カテゴリー"
                           value="{{ task_item.taskProject }}"
                           readonly/>
                   
                    <input type="text" name="yesterday{{ task_item.id }}" id="yesterday{{ task_item.id }}" style="width: 300px;"
                           value="{{ task_item.task }}"
                           placeholder="{{task_item.tasktype|slice:"1:"}}"
                           readonly/>
                    
                    {% if request.user.username == task_item.edit_username %}
                        <input type="button" id="updateBtn{{ task_item.id }}" name="updateBtn_yesterday"
                               value="Edit" style="border-radius: 10%;  color: white; background-color: #d4a656;
                                  padding: 5px;
                                  text-align: center;
                                  display: inline-block;
                                  font-size: 16px;
                                  margin: 2px;"/>

                      <Button formaction="addrow/{{ task_item.id }}" id="addBtn{{ task_item.id }}" name="addBtn_yesterday"
                               style="border-radius: 10%;  color: white; background-color: #d4a690;
                                  padding: 5px 12px;
                                  text-align: center;
                                  display: inline-block;
                                  font-size: 16px;
                                  margin: -5px;"> + </Button>

                      <Button formaction="deleteTask_id/{{ task_item.id }}" id="deleterowBtn{{ task_item.id }}" name="deleterowBtn_yesterday"
                               style="border-radius: 10%;  color: white; background-color: #Ac3B61;
                                  padding: 5px 12px;
                                  text-align: center;
                                  display: inline-block;
                                  font-size: 16px;
                                  margin: 2px;"> X </Button>
                        <lb style="font-size: 8px;">：(Date: {{task_item.date}}) ：(update time: {{task_item.time}})</lb>

                                  <script>               
                                        document.getElementById("deleterowBtn{{ task_item.id }}").onclick = function () {
                                                    var r = confirm("ARE YOU SURE!");
                                                    if (r == true) {location.href = "/deleteTask_id/{{ task_item.id }}";} else {return false;};};
                                    </script>
                    {% endif %}

                    <script>
                        document.getElementById("updateBtn{{ task_item.id}}").onclick = function () {
                            document.getElementById("category_yesterday{{ task_item.id }}").removeAttribute('readonly')
                            var yesterday=document.getElementById("yesterday{{ task_item.id}}")
                                yesterday.removeAttribute('readonly')
                                yesterday.style.background = "black";
                                yesterday.style.color = "white";
                            document.getElementById("category_yesterday{{ task_item.id }}").style.background = "black";
                            document.getElementById("category_yesterday{{ task_item.id }}").style.color = "white";
                            document.getElementById("saveBtn{{ task_item.id}}").style.visibility = "visible";
                        };
                    </script>
                    <button formaction="saveTask/{{ task_item.id }}" id="saveBtn{{ task_item.id }}" style="border-radius: 50%;  color: white; background-color: #123c69;
                                  padding: 10px;
                                  text-align: center;
                                  display: inline-block;
                                  font-size: 16px;
                                  visibility: hidden;
                                  margin: 2px;">Save</button>
</ul>
            
       {%endif%}
        {%endif%}
    {% endfor %}
    
        </form>
{%endfor%}

    <form action="moveToTodo" method="post">
        {% csrf_token %}

        <input type="submit" value="CREATE TASK"
               style="position: absolute;right:300px;top:400px; height:200px;width:200px; background-color: #bab2b5;
                                border: 6px solid #ccc;
                                color: white;
                                padding: 20px;
                                text-align: center;
                                text-decoration: none;
                                display: inline-block;
                                position: fixed;
                                font-size: 16px;
                                margin: 4px -120px;
                                border-radius: 500px">
    </form>

    </body>
    </html>
{% else %}
    <a class="nav-link" href="moveToLogin">
        <h1>please login!!!!</h1>
    </a>
{% endif %}