{% load static %}
{% if user.is_authenticated %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Bootstrap Tutorial Sample Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">
    </head>
    <body background="{% static "images/Black_white_background.jpg" %}" style="background-size: cover">
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>


    <nav class="bg-dark navbar-dark" style="position: fixed;width: 100%;">
        <a href="taskView"> <img src="{% static "images/back.png" %}" alt="IMG" style="width:50px;height:50px;"
                                 id="refreshBtn"></a>
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

<div class="collapse navbar-collapse" id="main-navigation">
            <ul class="navbar-nav">
                {% if request.user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="moveToRegister">Create User</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="moveToUpdateUser">Edit User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="search">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="moveToJinkenhi">jinkenhi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="logout">Log Out</a>
                </li>

            </ul>
        </div>
    </nav>
    <br><br><br><br><br>
    <div class="container" style="background: transparent;">
        <iframe scrolling="no" frameborder="no" clocktype="html5"
                style="overflow:hidden;border:0;margin: 0px 1035px;position:fixed;padding:0;width:150px;height:150px;"
                src="https://www.clocklink.com/html5embed.php?clock=041&timezone=JST&color=green&size=150&Title=&Message=&Target=&From=2019,1,1,0,0,0&Color=green"></iframe>
    </div>
    <br><br>
    <ul>

        <body>
        <iframe src="moveToKintai" height="300" width="1200" style="border:none;" scrolling="no"></iframe>
        <iframe src="moveToshucchou" height="300" width="1200" style="border:none;" scrolling="no"></iframe>
        <iframe src="moveTojinkenhi_input" height="600" width="1300" style="border:none;" scrolling="no"></iframe>
        </body>
        </ul>
    </html>
{% else %}
    <a class="nav-link" href="moveToLogin">
        <h1>please login!!!!</h1>
    </a>
{% endif %}