<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

<!-- 実績入力-->

<label style="font-size:30px; ">人件費情報</label><br><br><br>


{% comment %} {% if today == firstday or today == secondday or today == thirdday %} {% endcomment %}
    <form style='float: left;'
          method="post"
          id="myform">
          {% csrf_token %}
        <label>実績</label> <Button formaction="add_jinkenhijisseki" id="add_jisseki"
                            name="add"
                            style="border-radius: 10%;  color: white; background-color: #d4a690;padding: 5px 12px;text-align: center;display: inline-block;font-size: 16px;">
                        add
                    </Button>
                    </form><br><br>
{%for jinkenhi in jinkenhi%}
    <form style='float: left;'
          method="post"
          id="myform">
        {% csrf_token %}
        <table>
        {%if forloop.first%}
            <thead>
            <tr style="text-align: center; color:blue;">
                <th>社員コード(5桁)</th>
                <th>名前(自動更新)</th>
                <th>所属課（部長以上は部）</th>
                <th>開発コード</th>
                <th>アイテム名(自動更新)</th>
                <th>海外仕様</th>
                <th>割合</th>
            </tr>
            </thead>
        {%endif%}
            <tbody>

            <tr>
                <td>
                    <input type="text" id="user_id" name="user_id{{jinkenhi.id}}" style="width: 140px;" value={{jinkenhi.user_id}} placeholder={{jinkenhi.id}} />
                </td>
                <td>
                    <input type="text" id="name" name="name{{jinkenhi.id}}" style="width: 175px;" placeholder={{jinkenhi.id}} />
                </td>
                <td>
                    <input type="text" id="department" name="department{{jinkenhi.id}}" style="width: 175px;" value="{{jinkenhi.department}}" placeholder={{jinkenhi.id}} />
                </td>
                <td>
                    <input type="text" id="product_id" name="product_id{{jinkenhi.id}}" style="width: 140px;" value="{{jinkenhi.product_id}}" placeholder={{jinkenhi.id}} />
                </td>
                <td>
                    <input type="text" id="itemname" name="itemname{{jinkenhi.id}}" style="width: 175px;" placeholder={{jinkenhi.id}} />
                </td>
                <td>
                    <input type="text" id="kaigai" name="kaigai{{jinkenhi.id}}" style="width: 140px;" value="{{jinkenhi.kaigai}}" placeholder={{jinkenhi.id}} />
                </td>
                <td id="percentage_id">
                    <input type="text" id="percentage" name="percentage{{jinkenhi.id}}" style="width: 140px;" value="{{jinkenhi.percentage}}" placeholder={{jinkenhi.id}} />
                </td>
                <td>
                <Button formaction="savejinkenhijisseki/{{jinkenhi.id}}" id="save_jisseki"
                            name="save"
                            style="border-radius: 10%;  color: white; background-color: #d4a690;padding: 5px 12px;text-align: center;display: inline-block;font-size: 16px;">
                        save
                </Button>
                </td>

                <td>
                <Button formaction="deleteJinkenhi_jisseki/{{jinkenhi.id}}" id="delete"
                        name="delete"
                        style="border-radius: 10%;  color: white; background-color: #d4a690;padding: 5px 12px;text-align: center;display: inline-block;font-size: 16px;">
                    clear
                </Button>
                </td>
            </tr>
            
            </tbody>
            
            
        </table>
                

                
                    {% comment %} <Button formaction="add_jinkenhijisseki" id="add_jisseki"
                            name="add"
                            style="border-radius: 10%;  color: white; background-color: #d4a690;padding: 5px 12px;text-align: center;display: inline-block;font-size: 16px;">
                        add
                    </Button> {% endcomment %}               
    </form>
{%endfor%}
 <script>
        var x = document.getElementById("percentage_id");
           alert("Total number of  inputs: " + x.value);
 </script>
{% comment %} {% endif %}
           


{% if today == lastday or today == lastday_sec or today == lastday_third %} {% endcomment %}
   
{% comment %} {% endif %} {% endcomment %}

</body>
</html>