    <!DOCTYPE html>
    <html lang="en">
    <head></head>
    <body onload="add_number_yotei(),add_number_jisseki()">
    

 <!-- 実績入力-->
  
                          
<label style="font-size:30px; ">出張情報</label><br><br><br>
 <form style ='float: left;'
              method="post"
              id="myform">
            {% csrf_token %}
              <label>実績</label><br><br>
<table >
                    <thead>
                    <tr style="text-align: center; color:blue;">
                        <th>出張費</th>
                        <th>外出費</th>
                        <th>合計</th>
                    </tr>
                    </thead>
                    <tbody>
                   
                        <tr>                         
                            <td>                                                          
                            ￥<input type="number" name="teiji" id="teiji_jisseki"  {%for jisseki in jisseki%}  value="{{jisseki}}"{%endfor%}required>            
                            </td>        

                            <td>                                                          
                            ￥<input type="number" name="overtime" id="overtime_jisseki" {%for overtime_jisseki in overtime_jisseki%}  value="{{overtime_jisseki}}" {%endfor%}required>                           
                            </td>
                             <td>                                 

                            {% comment %} <label id="txtresult" name="txtresult"></label> {% endcomment %}
                            ￥<label id="txtresult_jisseki" >    
                            </td>
                        </tr>                   
                    </tbody>

 </table>

 <script>
     function add_number_jisseki() {

            var first_number = parseFloat(document.getElementById("teiji_jisseki").value);
            var second_number = parseFloat(document.getElementById("overtime_jisseki").value);
            var result = first_number + second_number;

            document.getElementById("txtresult_jisseki").innerHTML = result;
            //document.getElementById("txtresult").value = "Johnny Bravo";
        }
 </script> 
 <br>
  {%if not jisseki %}
                      <Button formaction="saveshucchou/jisseki" id="save_jisseki"
                                        name="save"
                                        style="border-radius: 10%;  color: white; background-color: #d4a690;padding: 5px 12px;text-align: center;display: inline-block;font-size: 16px;margin: -5px;" > save
                                </Button>
                                {%endif%}
                      <Button formaction="deleteshucchou/jisseki" id="delete"
                                        name="delete"
                                        style="border-radius: 10%;  color: white; background-color: #d4a690;padding: 5px 12px;text-align: center;display: inline-block;font-size: 16px;margin: -5px;" > clear
                                </Button>
                            
 </form>

 <!-- 予定入力-->



 <form style ='float: left; padding-left: 100px;'
 method="post"
              id="myform">
            {% csrf_token %}
            <label>予定</label><br><br>
<table >
                    <thead>
                    <tr style="text-align: center; color:blue;">
                        <th>出張費</th>
                        <th>外出費</th>
                        <th>合計</th>
                    </tr>
                    </thead>
                    <tbody>
                   
                        <tr>                         
                            <td>                                                          
                            ￥<input type="number" name="teiji" id="teiji_yotei"  {%for yotei in yotei%}  value="{{yotei}}"{%endfor%}required>            
                            </td>        

                            <td>                                                          
                            ￥<input type="number" name="overtime" id="overtime_yotei" {%for overtime_yotei in overtime_yotei%}  value="{{overtime_yotei}}" {%endfor%}required>                           
                            </td>
                             <td>                                 

                            {% comment %} <label id="txtresult" name="txtresult"></label> {% endcomment %}
                            ￥<label id="txtresult_yotei" > 
                            </td>
                        </tr>                   
                    </tbody>

 </table>

 <script>
     function add_number_yotei() {

            var first_number = parseFloat(document.getElementById("teiji_yotei").value);
            var second_number = parseFloat(document.getElementById("overtime_yotei").value);
            var result = first_number + second_number;

            document.getElementById("txtresult_yotei").innerHTML = result;
            //document.getElementById("txtresult").value = "Johnny Bravo";
        }
 </script>
 <br>

 {%if not yotei %}
                      <Button formaction="saveshucchou/yotei" id="save_yotei"
                                        name="save"
                                        style="border-radius: 10%;  color: white; background-color: #d4a690;padding: 5px 12px;text-align: center;display: inline-block;font-size: 16px;margin: -5px;" > save
                                </Button>
                                {%endif%}
                      <Button formaction="deleteshucchou/yotei" id="delete"
                                        name="delete"
                                        style="border-radius: 10%;  color: white; background-color: #d4a690;padding: 5px 12px;text-align: center;display: inline-block;font-size: 16px;margin: -5px;" > clear
                                </Button>
 </form>
 <body>
 </html>