<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        function add_number() {
            {%if today == lastday or today == lastday_sec or today == lastday_third%}
                var first_number_yotei = parseFloat(document.getElementById("gout_yotei").value);
                var second_number_yotei = parseFloat(document.getElementById("B_money_yotei").value);
                var result_yotei = first_number_yotei + second_number_yotei;
                document.getElementById("txtresult_yotei").innerHTML = result_yotei;
            {%else%}
                var first_number_jisseki = parseFloat(document.getElementById("gout_jisseki").value);
                var second_number_jisseki = parseFloat(document.getElementById("B_money_jisseki").value);
                var result_jisseki = first_number_jisseki + second_number_jisseki;
                document.getElementById("txtresult_jisseki").innerHTML = result_jisseki;
            {%endif%}

        }
    </script>
</head>
<body onload="add_number()">

<!-- 実績入力-->

<label style="font-size:30px; ">勤怠情報</label><br><br><br>



{% if today == firstday or today == secondday or today == thirdday %}


    <form style='float: left;'
          method="post"
          id="myform">
        {% csrf_token %}
        <label>実績</label><br><br>
        <table>
            <thead>
            <tr style="text-align: center; color:blue;">
                <th>出張</th>
                <th>外出</th>
                <th>合計</th>
            </tr>
            </thead>
            <tbody>

            <tr>

                <td>
                    ￥<input type="number" step="0.01" name="B_money" id="B_money_jisseki"
                        {% for B_money_jisseki in jisseki %}  value="{{ B_money_jisseki }}" {% endfor %}required>
                </td>

                <td>
                    ￥<input type="number" step="0.01" name="gout" id="gout_jisseki"
                        {% for gout_jisseki in gout_jisseki %}  value="{{ gout_jisseki }}"{% endfor %}required>
                </td>


                <td>

                    {% comment %} <label id="txtresult" name="txtresult"></label> {% endcomment %}
                    ￥<label id="txtresult_jisseki">
                </td>
            </tr>
            </tbody>

        </table>


        <br>
        {% for jisseki_kakunin in jisseki_kakunin %}
            {% if jisseki_kakunin is False %}

                {% if not jisseki %}
                    <Button formaction="saveshucchou/jisseki" id="save_jisseki"
                            name="save"
                            style="border-radius: 10%;  color: white; background-color: #d4a690;padding: 5px 12px;text-align: center;display: inline-block;font-size: 16px;margin: -5px;">
                        save
                    </Button>
                {% endif %}
                <Button formaction="deleteshucchou/jisseki" id="delete"
                        name="delete"
                        style="border-radius: 10%;  color: white; background-color: #d4a690;padding: 5px 12px;text-align: center;display: inline-block;font-size: 16px;margin: -5px;">
                    clear
                </Button>
            {% endif %}

        {% endfor %}
        {% if not jisseki %}
            <Button formaction="saveshucchou/jisseki" id="save_yotei"
                    name="save"
                    style="border-radius: 10%;  color: white; background-color: #d4a690;padding: 5px 12px;text-align: center;display: inline-block;font-size: 16px;">
                save
            </Button>

            <Button formaction="deleteshucchou/jisseki" id="delete"
                    name="delete"
                    style="border-radius: 10%;  color: white; background-color: #d4a690;padding: 5px 12px;text-align: center;display: inline-block;font-size: 16px; ">
                clear
            </Button>

        {% endif %}
    </form>

{% endif %}

{% if today == lastday or today == lastday_sec or today == lastday_third %}
    <form style='float: left;'
          method="post"
          id="myform">
        {% csrf_token %}
        <label>予定</label><br><br>
        <table>
            <thead>
            <tr style="text-align: center; color:blue;">
                <th>出張</th>
                <th>外出</th>
                <th>合計</th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <td>
                    ￥<input type="number" step="0.01" name="B_money" id="B_money_yotei" {% for B_money_yotei in yotei %}
                            value="{{ B_money_yotei }}" {% endfor %}required>
                </td>

                <td>
                    ￥<input type="number" step="0.01" name="gout" id="gout_yotei"  {% for gout_yotei in gout_yotei %}
                            value="{{ gout_yotei }}"{% endfor %}required>
                </td>


                <td>

                    {% comment %} <label id="txtresult" name="txtresult"></label> {% endcomment %}
                    ￥<label id="txtresult_yotei">
                </td>
            </tr>
            </tbody>

        </table>

        <br>
        {% for yotei_kakunin in yotei_kakunin %}
            {% if yotei_kakunin is False %}
                {% if not yotei %}
                    <Button formaction="saveshucchou/yotei" id="save_yotei"
                            name="save"
                            style="border-radius: 10%;  color: white; background-color: #d4a690;padding: 5px 12px;text-align: center;display: inline-block;font-size: 16px;">
                        save
                    </Button>
                {% endif %}
                <Button formaction="deleteshucchou/yotei" id="delete"
                        name="delete"
                        style="border-radius: 10%;  color: white; background-color: #d4a690;padding: 5px 12px;text-align: center;display: inline-block;font-size: 16px; ">
                    clear
                </Button>

            {% endif %}

        {% endfor %}
        {% if not yotei %}
            <Button formaction="saveshucchou/yotei" id="save_yotei"
                    name="save"
                    style="border-radius: 10%;  color: white; background-color: #d4a690;padding: 5px 12px;text-align: center;display: inline-block;font-size: 16px;">
                save
            </Button>

            <Button formaction="deleteshucchou/yotei" id="delete"
                    name="delete"
                    style="border-radius: 10%;  color: white; background-color: #d4a690;padding: 5px 12px;text-align: center;display: inline-block;font-size: 16px; ">
                clear
            </Button>

        {% endif %}

    </form>
{% endif %}

<body>
</html>