{% load static %}
{% if user.is_authenticated %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Bootstrap Tutorial Sample Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    </head>
    <body>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <nav class="bg-dark navbar-dark">
        <a class="navbar-brand" href="moveToHome"><-</a>
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="main-navigation">
            <ul class="navbar-nav">
                {% if request.user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="moveToRegister">Create User</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="moveToUpdateUser">Edit User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="logout">Log Out</a>
                </li>

            </ul>
        </div>
    </nav>


    <h1>Testing the input</h1>


    <form action="addTask" method="post">
        {% csrf_token %}

        昨日やったこと：
        <input list="category_yesterday" name="category_yesterday" placeholder="カテゴリー" value={{category_yesterday_con}}/>
        <datalist id="category_yesterday">
            {% for task_item in category_yesterday %}
                <option value="{{ task_item }}">
            {% endfor %}
        </datalist>
        <input type="text" name="yesterday" style="width: 300px;" placeholder="昨日やったこと" value={{yesterday_con}}/><br/>

        今日やったこと：
        <input list="category_today" name="category_today"　placeholder="カテゴリー"/>
        <datalist id="category_today">
            {% for task_item in category_today %}
                <option value="{{ task_item }}">
            {% endfor %}
        </datalist>
        <input type="text" name="today" style="width: 300px;" placeholder="今日やったこと"/><br/>

        困っていること：
        <input list="category_bad" name="category_bad"　placeholder="カテゴリー"/>
        <datalist id="category_bad">
            {% for task_item in category_bad %}
                <option value="{{ task_item }}">
            {% endfor %}
        </datalist>
        <input type="text" name="bad" style="width: 300px;" placeholder=" 困っていること"/><br/>

        その他　　　　：
        <input list="category_other" name="category_other"　placeholder="カテゴリー"/>
        <datalist id="category_other">
            {% for task_item in category_other %}
                <option value="{{ task_item }}">
            {% endfor %}
        </datalist>
        <input type="text" name="other" style="width: 300px;" placeholder=" その他"/><br/>


        <input type="submit" value="add"><br/>
        </ul>
    </form>

    </body>
    </html>
{% else %}
    <a class="nav-link" href="moveToLogin">
        <h1>please login!!!!</h1>
    </a>
{% endif %}